{% extends 'layout/default.html' %}

{% block head %}
    <title>Cancelar reserva: {{object.idReserva}}</title>

    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
{% endblock head %}

{% block body %}

    <main class="min-vh-100 justify-content-center align-items-center d-flex">

        <div class="card border-0 shadow w-50">
            <div class="card-header list-group-item-dark p-3">
                <strong class="fw-bolder">Confirmar cancelación</strong>
            </div>
            <div class="card-body bg-light text-center p-5">
                <p class="fw-lighter">¿Está seguro que desea cancelar la reserva <strong>{{object.idReserva}}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>

    </main>

{% endblock body %}
