<footer class="bg-dark">
        
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4 p-5">

                <h4 class="text-light  fw-semibold">Acerca de Nosotros</h4>

                <hr class="solid mt-2" style="border-top: 2px solid #FFFFFF; width: 50px">

                <p class="text-light fw-lighter mt-2">
                    El Grupo Empresarial “Campismo popular” agrupa a 15 empresas distribuidas por todo el país y una
                    unidad
                    presupuestada.
                    Presta servicios de reservación, alojamiento, gastronomía, recreación y transporte, para lo cual
                    dispone
                    de una red de oficinas de ventas, 85 campismos, 2 villas, 8 centros juveniles recreativos y 15 bases
                    de
                    transporte. Cuenta además, con servicio de renta de autocaravanas, kioscos de carretera, un parque
                    turístico, un centro de información turística, un centro expositivo y una agencia de viajes.
                    Cada año disfrutan de nuestras instalaciones y servicios, más de dos millones de cubanos y de quince
                    mil
                    turistas extranjeros.
                </p>

            </div>

            <div class="col-md-4 p-5">

                <h4 class="text-light fw-semibold">Redes Sociales</h4>

                <hr class="solid mt-2" style="border-top: 2px solid #FFFFFF; width: 50px">

                <ul class="list-group">

                    <li class="list-item">
                        <a href="http://www.facebook.com/CampismoPopular" class="link-primary"
                           style="text-decoration: none">Siguenos en Facebook</a>
                    </li>

                    <li class="list-item mt-2">
                        <a href="http://www.twitter.com/campismopopular" class="link-primary"
                           style="text-decoration: none">Siguenos en Twitter</a>
                    </li>

                </ul>

            </div>

            <div class="col-md-4 p-5">

                <h4 class="text-light fw-semibold">Contactar</h4>

                <hr class="solid mt-2" style="border-top: 2px solid #FFFFFF; width: 50px">

                <ul class="list-group">

                    <li class="list-item">
                        <div class="d-flex">

                            <span class="material-symbols-rounded text-light">
                                call
                            </span>

                            <p class="text-light fw-lighter ms-2">Telf: (537) 8352502, 830 5536 al 38</p>

                        </div>
                    </li>

                    <li class="list-item mt-2">
                        <div class="d-flex">

                            <span class="material-symbols-rounded text-light">
                            mail
                            </span>

                            <p class="text-light fw-lighter ms-2">promocion@campismopopular.cu</p>

                        </div>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="text-center mt-3 p-2">

        <p class="text-light fw-lighter">Copyright © 2022 | Alejandro Machado</p>

    </div>

</footer>