<!--Esta pagina fue descargada de internet junto a su archivo css y js-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}: Cambiar foto</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil_styles.css' %}">

    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

    <form method="POST" enctype="multipart/form-data" name="formulario">
        {% csrf_token %}
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Arrastrar para cargar imagen</header>
            <span>o</span>
            <button type="button">Buscar en el equipo</button>
            <input type="file" hidden name="foto">
        </div>
    </form>


    {% load static %}
    <script src="{% static 'js/cambiar_foto.js' %}"></script>

</body>

</html>